*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('media/picture-replaced.jpg');
    /* opacity: .6; */
   
}
.login-content{
    position: absolute;
    background-color: rgb(206, 109, 35, .8);
    color: black;
    width:60%;
    padding: 1% 4% 5% 4%;
    text-align: center;
    align-items: center;   
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 35px;
    border: 1px solid white ;
    box-shadow: 10px 10px 8px rgb(255, 255, 255, .5);
}
h1{
    margin-top: 3%;
    color: #faf8f7;
}
form{
    margin-top: 5%;
}
.input{
    width: 60%;
    height: 40px;
    margin: 0% 1% 0% 1%;
    padding-left: 2%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .8);
}
.btn{
    width: 12%;
    /* height: 15%; */
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.login-text{
    color: black;
    text-decoration: none;
}
.btn:hover{
    background-color: chocolate;
    color: white;
}

